html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
.wrapper {}

.main {
  background-image: url(../images/bg2.png);
  background-size: cover;
  background-position: top -20rem;
  height: 100%;


}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 100vh;
}

.header__top {
  height: 100px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 115px;
}

.header__burger {
  display: none;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-right: 55px;


}

.logo-text {
  margin-left: 10px;
  max-width: 120px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #E4E5EA;
}

.header__menu {
  display: flex;
  align-items: center;

}

.header__menu-link {
  display: inline-block;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
  transition: all .3s;
}

.header__menu-link:hover {
  color: rgb(240, 76, 11);
  /* background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

.header__menu-item+.header__menu-item {
  margin-left: 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__inner-item {
  width: 440px;

}

.header__inner-item-title {
  max-width: 375px;
  margin-right: 40px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(93.28deg, #FCB045 -2.5%, #FC388E 37.49%, #2395FD 94.2%),
    #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.header__inner-item-subtitle {

  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 22px;
  text-align: right;
  color: #E4E5EA;
}

.header__inner-item-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #E4E5EA;
}

.header__inner-item-text span {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.content {}

.about__title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
  padding-bottom: 53px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 174px;
}

.about__inner-item-title {
  margin-bottom: 60px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.about__inner-item-title span {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about__inner-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #E4E5EA;
  line-height: 261.52%;
  width: 590px;
}

.about__inner-text span {
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about__inner-item-img {
  border: 1px solid #FCB045;
  padding: 7px 13px;
  width: 100%;
  height: 100%;
}

.about__subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
}

.partners__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
}

.contact {}

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__inner-item-title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
  margin-bottom: 80px;
}

.contact__inner-adress {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #E4E5EA;
  padding-bottom: 28px;
  width: 385px;
}

.contact__inner-mail {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
  color: #E4E5EA;
  transition: all .3s;
}

.contact__inner-mail:hover {
  color: rgb(240, 76, 11);
  text-decoration-line: underline;
}

.contact__inner-tel {
  display: block;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 46px;
  transition: all .3s;

}



.contact__inner-item-img {
  border: 1px solid #FCB045;
  padding: 7px 14px;
}

.footer {
  /* background-image: url(../images/footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  height: 314px;
  margin-top: 35px;
}

.logo-footer {
  padding-top: 63px;
}

.footer-info {
  margin-top: 30px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}

@media (max-width:1200px) {
  .header__inner-item-subtitle {
    font-size: 17px;
  }
  .about__title{
    text-align: center;
  }
  .about__inner-item-title{
    text-align: center;
  }
  .about__inner{
    display: block;
  }
  .about__inner-item-img{
    width: auto;
    margin: 0 auto;
  }
  .about__inner-text{
    margin: 30px auto 0 auto;
    text-align: center;
  }
  .about__inner-text{
    max-width: 500px;
  }
  .about__subtitle{
    text-align: center;
  }
  .contact__inner-item-title{
    font-size: 36px;
    line-height: 40px;
  }
  .contact__inner-adress,
  .contact__inner-mail{
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width:940px) {
  .header__inner-item-subtitle {
    font-size: 17px;
  }
  .about__subtitle{
    text-align: center;
  }
  .about__inner{
    margin-bottom: 50px;
  }
  .partners__inner{
    margin-bottom: 50px;
  }
  .contact__inner{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .contact__inner-item{
    margin-top: 30px;
  }
  .contact__inner-item-title{
    margin-bottom: 40px;
  }
}

@media (max-width:786px) {

  .header__inner-item+.header__inner-item,
  .header__inner-item+.header__inner-item+.header__inner-item {
    display: none;
  }

  .header__inner {
    justify-content: center;
  }
  .about__inner-text{
    max-width: 350px;
    line-height: 30px;
  }
}


@media (max-width:670px) {
  
  .header__menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(93.28deg, #FCB045 -2.5%, #FC388E 37.49%, #2395FD 94.2%),
      #E4E5EA;

    display: block;
    transition: all .5s;
    
    transform: translateX(-1000%);
    transition: all .5s;
    overflow: auto;
    margin-top: 89px;
    z-index: 10;
    text-align: center;
    list-style: none;

  }

  .header__menu.active {
    transform: translateX(0);
  }

  .header__menu-item+.header__menu-item {
    margin-left: 0;
  }

  .header__menu-item {

    margin-bottom: 21px;
    padding-top: 32px;
    padding-left: 30px;

  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 4;
    margin-left: auto;
    margin-right: 20px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 10px;
    top: 10px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all .3s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s;

  }

  .header__burger::before {
    top: 0;

  }

  .header__burger::after {
    bottom: 0;
    top: 20px;
  }
  .about__inner-text{
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 30px;
  }
  .about__title {
    font-size: 32px;
    padding-bottom: 30px;
  }
  .about__inner-item-title{
    font-size: 21px;
    margin-bottom: 30px;
  }
  .about__inner{
    margin-bottom: 60px;
  }
  
}
@media (max-width:550px){
  .contact__inner-item-title{
    font-size: 24px;
    line-height: 28px;
  }
  .contact__inner-adress,
  .contact__inner-mail{
    font-size: 18px;
    line-height: 20px;
  }
  .logo-footer{
    padding-top: 20px;
  }
}
@media (max-width:465px) {
  .header__inner-item {
    width: auto;
  }

  .header__inner-item-title {
    font-size: 36px;
    line-height: 40px;
    margin-right: 0;
  }
  .partners__inner{
    justify-content: center;
  }
  .about__inner-text{
    max-width: 300px;
  }
  .contact__inner-item{
    padding: 0 10px;
  }
  .contact__inner-adress{
    width: auto;
  }
}

@media (max-width:365px){
  .header__inner-item-title{
    text-align: center;
  }
  .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 8px;
  }
  .about__inner-text {
    max-width: 280px;
    text-align: start;
  }
}